*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    text-align: center;
    text-shadow: 2px 2px 5px  rgb(224, 154, 3);
    color: rgb(241, 243, 249);
   
    margin-bottom: 5px;
    padding-top: 40px;
   padding-bottom: 40px;
    /*background:radial-gradient(#fff,  rgb(23, 32, 69));*/

    background-color: rgb(9, 15, 41);
  border-width: 8px;
  border-color: rgb(212, 126, 21);
  border-style:solid;
   
}

.about{
    float:left;
    padding-left: 150px;
    
    text-shadow: 2px 2px 5px  rgb(93, 98, 98);
    color: rgb(23, 32, 69);
  
   
   font-style:oblique;
   padding-bottom: 20px;
}
.images{
    padding-top: 60px;
    
}
 .paragraph p{
    margin-top: 2px;
    padding-left:150px ;
    padding-right: 2rem;
  display:inline-flexbox;
    position:relative;
    text-shadow: 2px 2px 5px  rgb(224, 154, 3);
    color: rgb(23, 32, 69);
   
   text-align: center;
    font-style: oblique;
    font-weight: bolder;

}
.paragraph i{
    color: rgb(195, 118, 3);
    padding-top: 15px;
  
    padding-left:100px ;
   
   


}
 img{
    max-width: 70%;
    height:fit-content;
    border-radius: 50%;
    float: right;
    padding-right: 30px;
    padding: 0;
    position:relative;
   
    box-shadow: rgb(75 72 69) -20px 9px 20px;
    
    
   
    
}
.big-container {
    padding-top: 10rem;
  
  
}
.big-container p{
  
  
    padding-bottom: 150px;
    font-style: oblique;
    font-weight:bold;
    background-image: linear-gradient(to right,  rgb(2, 2, 76),rgb(247, 173, 0));
    color:white;
    text-align:left;
    padding: 20px;
    text-decoration: none;
    text-align: justify;
  
}
.big-container h1{
    text-shadow: 2px 2px 5px  rgb(82, 81, 79);
    color: rgb(23, 32, 69);
    text-align:justify;
   
    font-style: oblique;
    text-align: center;
    padding-bottom: 15px;
}
hr{
    border: none;
    background: #383f35;
    height: 1px;
    margin: 20px 0;
}
.link{
    text-decoration: none;
    
}
.header  h1 {
    position: relative;
    margin: 0;
    font-size: 4em;
    z-index: 1;
    overflow: hidden;
}
.header  h3 {
    position: relative;
    margin: 0;
    font-size: 2em;
    z-index: 1;
    overflow: hidden;
}
.header h3:before{
    content: '';
    position: absolute;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg,transparent 0%,  rgb(9, 15, 41) 5%, rgb(23, 20, 40) 100%);
    animation: animate 5s linear forwards infinite;
   
}
.header h1:before{
    content: '';
    position: absolute;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg,transparent 0%,  rgb(9, 15, 41) 5%, rgb(23, 20, 40) 100%);
    animation: animate 5s linear forwards infinite;
   
   
}
@keyframes animate {
    0%{
        left: -20%;
    }
    100%{
        left: 100%;
    }

}
/*
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
    mix-blend-mode: screen;
  
}
*/

.playsong {
    display: inline-block;
    background:rgb(254, 12, 4);
    color: white;
   padding: 20px 50px;
   margin:60px 0px;
   border-radius: 30px;
   border-style: none;
   margin-left: 5%;
   
   
  
}
.collection img{
    float:left;
    margin-left: 25%;
    border-radius: 20%;
    box-shadow: none;
   
}
.playsong a{
    text-decoration: none;
   font-weight: bolder;
   font-size: medium;
   color: white;
    
}
.playsong:hover{
    background: rgb(175, 2, 2);
    
    
  
}


.fa {
    padding: 15px;
    font-size: 30px;
    width: 60px;
    text-align:center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #56028e;
    color: white;
  }
 